* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
	background-color: #555;
    color: #555;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row{
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 10px 0;
}

.box {
    padding: 1%;
}

/* Header */
header{ 
    background-color: #fa5a1d;
    background-size: cover;
    background-position: center;
    height: 100px;
    background-attachment: fixed;
}

.title {
    padding-left: 5px;
}

.search {
    display: inline-block;
    font-size: 140%;
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 0px 0px;
	padding-bottom: 0px;
    font-weight: 100px;
    text-decoration: none;
    border-radius: 150px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #06ce24;
    border: 0px solid #1fc638;
    color: #fff;
    margin-right: 0px;

}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #2de233;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border: 0px solid #40fa40;
    
}

.logo {
    height: 80px;
    border-radius: 50px;
    width: auto;
    float: left;
    margin-top: 15px;
}

.logo-black {
    display: none;
    height: 60px;
    border-radius: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
	margin-top: 12px;
}

/*main navi */
.main-nav{
    float: right;
    list-style: none;
    margin-top: 30px;
	background: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 6px 0px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
}

.main-nav li a:hover,
.main-nav li a:active {
	color: #c9c9c9;
}

/* Mobile navi */
.mobile-nav-icon {
	color: #ffffff;
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
	
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fffdfd;
	float: right;
}

/** Nav Drop Down **/

.dropdown {
    display: inline-block;
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(88, 111, 240);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
      transition: 0.2s;
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #818dff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10%;
    font-size: 20px;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: rgb(250, 250, 250);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    tranisition: 0.2s;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/** Sticky Nav **/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.829);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav{
    margin-top: 15px; 
    margin-bottom: 10px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 6px 0px;
    color: #ffffff;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
	color: #717171;
}

/* See more Button */

.seemore-div {
    padding-left: 45%;
}

.seemore {
    font-size: 100%;
    font-weight: lighter;
    text-decoration: none;
    color:#ffffff; 
    border-radius: 150px;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0,0,0,0.1), inset 0 0 0 rgba(0,0,0,0.1);
    box-sizing: border-box;
    width: 5px;
    height: 2px;
    transition: all 0.3s;
    text-align: center;
}

.seemore:link,
.seemore:visited,
input[type=submit] {
    
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.seemore-full:link,
.seemore-full:visited,
input[type=submit]{
    background-color: #414141;
    border: 0px solid #525252;
    color: #fff;
} 

.seemore:hover,
.seemore:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #a8a8a8;
    box-shadow: 0 0 2em rgba(0,0,0,0.1), inset 0 0 1em rgba(0,0,0,0.1);
}

.seemore-full:hover,
.seemore-full:active,
input[type=submit]{
    border: 0px solid #797979;
    box-shadow: 0 0 2em rgba(255, 255, 255, 0.308), inset 0 0 1em rgba(0,0,0,0.1);
}

/* SEARCH BUTTON */

.search-box{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box.active{
    width: 250px;
  }
  .search-box input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    background: rgb(251, 255, 252);
    outline: none;
    padding: 0 30px 0 10px;
    font-size: 15px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box input.active{
    opacity: 1;
  }
  .search-box input::placeholder{
    color: #a6a6a6;
  }
  .search-box .search-icon{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    color: #664AFF;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box .search-icon.active{
    right: 5px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 15px;
    background: #664AFF;
    color: #fff;
    transform: translateY(-50%) rotate(360deg);
  }

  .cancel-icon {
      color: blue;
  }

  .search-box .cancel-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .search-box .cancel-icon.active{
    right: -20px;
    transform: translateY(-50%) rotate(360deg);
  }
  .search-box .search-data{
    text-align: center;
    padding-top: 7px;
    color: #fff;
    font-size: 18px;
    word-wrap: break-word;
  }
  .search-box .search-data.active{
    display: none;
  }

/* Main Nav Drop Down */

.main-nav-dropdown {
	display: none;
}

/* Others */

h1,
h2,
h3,
h4 {
    font-weight: 300px;
}

h1 {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0px;
    color: #101010;
    font-size: 10%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 120%;
    word-spacing: 2px;
    text-align: left;
	padding-left: 10px;
	padding-bottom: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(173, 201, 255);
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-decoration: none;
	color: #1a1a1a;
}

h4 {
	color: #d0ffce;
}

.under {
	text-decoration: none;
}

.under:hover,
.under:active {
	transition: 0.2s;
    border-color: orange;
    opacity: 50%;
	font-weight: 200px;
}

.under p {
    color: #fff;
    font-size: 1px;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 23%;
    
}

.box p {
    font-size: 90%;
    line-height: 145%;
	text-decoration: none;
}

.icon {
    color: #000000;
}

.icon-sec {
    display: inline-block;
    width: 10px;
    text-align: center;
    color: #020202;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    
}





.secton-features .long-copy{
    margin-bottom: 30px;
    
}



section {
	padding-top: 5%;
}

.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
    
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.03);
}

.section-steps {
    background-color: #f2f2f2;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;;
}

.works-step:last-of-type {
    margin-bottom: 150px;
}

.works-step div {
    color: #e67e22;
    border: 3px solid #e67e22;
    display: inline-block;
    border-radius: 100%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited{
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.box img {
    width: 100%;
    height: auto;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #6a6a6a;
}

textarea{
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}

.section-form {
    background-color: #fdfdfd;
}

footer {
    background: #414141;
    padding: 30px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
    
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #797979;
}

.footer-nav li a:hover,
.footer-nav li a :active {
    color: #c4c4c4;
}

.social-links li a:link,
.social-links li a :visited {
    font-size: 140%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram,
.ion-social-whatsapp {
    transition: color: 0.2s;
}


.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-instagram:hover {
    color: #dd4b39;
}

.ion-social-whatsapp:hover {
    color: #23d33e;
}

footer p {
    color: #797979;
    text-align: center;
    margin-top: 20px;
}

.dev-link {
    text-decoration: none;
}

.section-cities {
    padding-bottom: 0;
}

.city-feature {
    margin-bottom: 2px;
    display: inline-block;

}

.order-link,
.order-link-to,
.order-link-the,
.order-link-tee {
    text-decoration: none;
}

.order-link {
    color: #35d028;
    
}

.order-link-to {
    color: #dd3b85;
    
}

.order-link-the {
    color: #2862d0;
    
}


.google-maps {
    position: relative;
    padding-bottom: 65%; // (450 รท 500 = 0.9 = 90%)
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

.text {
    margin-top: 20px;
}

.distance {
    padding: 0;
}

.section-about {
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.7)), url(hero2.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.section-about p {
	margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 140%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.section-about h2 {
	font-weight: 300;
    text-transform: uppercase;
	font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
	color: #fff;
}

/* Section Testemonials */

.section-testimonials {
    background-image: linear-gradient(rgba(29, 93, 47, 0.8), rgba(150, 72, 14, 0.8)), url(css-file/back-customer-min.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/* sections */

.nepali-template {
	position: inherit;
	padding: top 0;px;
    padding-bottom: 10px;
}



