<form>
    <div class="login-box">
        <h1>Login</h1>
        <div class="textbox">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username">
        </div>

        <div class="textbox">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password">
        </div>

        <input type="button" class="btn-login" value="Sign in">
        <h4>Doesn't have an account? <a href="signup.html" >Sign Up</a></h4>
        
       
  </div>

</form>