<nav>
    <a href="index.html" class="not-active"><img src="img/logo.png" class="logo" alt="logo"></a>
    <ul>
        <li><a class="boxel active" href="index.html">Home</a></li>
        <li><a class = "boxel" href="about.html">About Me</a></li>
        <li><a class = "boxel" href="message.php">Let's Talk</a></li>
        <li><a class = "boxel" href="https://linktr.ee/ayuyitsu">Support</a></li>
    </ul>

    <label id="icon">
        <i class="fas fa-bars"></i>
    </label>

</nav>

<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#" target="_blank">About us</a></li>
                <li><a href="#">Articles</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">IOS App</a></li>
                <li><a href="#">Android App</a></li>

            </ul>

        </div>
            <ul class="social-links">
                <li><a href="#" target="_blank"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="ion-social-instagram"></i></a></li>
            </ul>
        </div>

    <div class="row">
        <p>
            &copy; 2020 KaloTika. All rights reserved.
        </p>
    </div>
</footer>