<section class= "js--section-features">
    <div class="row">
       <div class="hero-text-box">
             <h2><b>Mirzapur 1 Meme Templates</b></h2>
       </div>
    </div>

    <div class="row">
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/1.png" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/1.png" download="Meme Template Download From "><button class="btn-section"><i class="fa fa-download"></i>Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/2.png" alt="hatt...paxi nalagg vai">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/2.png" download="hatt...paxi nalagg vai"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>hatt...paxi nalagg vai</h3>
       </div>
        
           
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/3.png" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/3.png" download="chdyanga, ek dinxu gaala ma ani"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>

        
   </div>

   <div class="row">
       
                               
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/4.png" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/4.png" download="chdyanga, ek dinxu gaala ma ani"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/6.png" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/6.png" download="chdyanga, ek dinxu gaala ma ani"><button class="btn-section"><i class="fa fa-download"></i>Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>
       
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/7.png" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/7.png" download="chdyanga, ek dinxu gaala ma ani"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>

 </div>


 <div class="row">
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/8.png" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/8.png" download="Meme Template Download From "><button class="btn-section"><i class="fa fa-download"></i>Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/9.jpg" alt="hatt...paxi nalagg vai">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/9.jpg" download="hatt...paxi nalagg vai"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>hatt...paxi nalagg vai</h3>
       </div>
        
           
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/10.jpg" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/10.jpg" download="chdyanga, ek dinxu gaala ma ani"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>

        
   </div>


   <div class="row">
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/11.jpg" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/11.jpg" download="Meme Template Download From "><button class="btn-section"><i class="fa fa-download"></i>Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/22.jpg" alt="hatt...paxi nalagg vai">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/22.jpg" download="hatt...paxi nalagg vai"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>hatt...paxi nalagg vai</h3>
       </div>
        
           
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/23.jpg" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/23.jpg" download="chdyanga, ek dinxu gaala ma ani"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>

        
   </div>

   <div class="row">
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/5.png" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/5.png" download="Meme Template Download From "><button class="btn-section"><i class="fa fa-download"></i>Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/12.jpg" alt="hatt...paxi nalagg vai">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/12.jpg" download="hatt...paxi nalagg vai"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>hatt...paxi nalagg vai</h3>
       </div>
        
           
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/13.jpg" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/13.jpg" download="chdyanga, ek dinxu gaala ma ani"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>

        
   </div>

   <div class="row">
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/14.jpg" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/14.jpg" download="Meme Template Download From "><button class="btn-section"><i class="fa fa-download"></i>Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/15.jpg" alt="hatt...paxi nalagg vai">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/15.jpg" download="hatt...paxi nalagg vai"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>hatt...paxi nalagg vai</h3>
       </div>
        
           
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/16.jpg" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/16.jpg" download="chdyanga, ek dinxu gaala ma ani"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>

        
   </div>

   <div class="row">
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/17.jpg" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/17.jpg" download="Meme Template Download From "><button class="btn-section"><i class="fa fa-download"></i>Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/18.jpg" alt="hatt...paxi nalagg vai">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/18.jpg" download="hatt...paxi nalagg vai"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>hatt...paxi nalagg vai</h3>
       </div>
        
           
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/19.jpg" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/19.jpg" download="chdyanga, ek dinxu gaala ma ani"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>

        
   </div>

   <div class="row">
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/24.png" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/24.png" download="Meme Template Download From "><button class="btn-section"><i class="fa fa-download"></i>Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>
        
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/20.jpeg" alt="hatt...paxi nalagg vai">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/20.jpeg" download="hatt...paxi nalagg vai"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>hatt...paxi nalagg vai</h3>
       </div>
        
           
       <div class="col span-1-of-3 box">
           <img id="myImg" onclick="myFunc(this)" src="templatespage/mirzapur1img/21.jpg" alt="chdyanga ek dinxu gaala ma ani">	
           <div id="myModal" class="modal">
             <span class="close" onclick="modal.style.display == 'none'">&times;</span>
             <img class="modal-content" id="img01">
               <a href="templatespage/mirzapur1img/21.jpg" download="chdyanga, ek dinxu gaala ma ani"><button class="btn-section"><i class="fa fa-download"></i> Download</button> </a>
           </div>
           <h3>chdyanga ek dinxu gaala ma ani</h3>
       </div>

        
   </div>
 
 
</section>